:root {
	--blue: #395181;
	--white: #ffffff;
	--orange: #fcb040;
	--orange-dark: #f7953c;
	--yellow: #fff101;
}
@font-face {
	font-family: myFirstFont;
	src: url(../fonts/Bellefair-Regular.ttf);
}
body {
	font-family: myFirstFont;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url("../statics/shutterstock_463528040-scaled.jpg");
	background-repeat: no-repeat cover;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
li {
	list-style-type: none;
}
a {
	color: var(--white);
}

input,
h1 {
	font-family: myFirstFont;
	padding: 0;
}

.ui.center.aligned.container {
	padding-top: 60px;
}
.header {
	color: var(--white);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-weight: bold;
}
a:hover {
	color: var(--orange-dark);
}
.home-container {
	background: #39518167;
	font-family: myFirstFont;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.home-container a {
	padding: 10px;
	border-radius: 20%;
	background: var(--orange);
	text-decoration: none;
}
.home-container h1 {
	font-family: myFirstFont;
}
.home-container a:hover {
	color: var(--white);
	background-color: var(--orange-dark);
}
.home-container h1 {
	font-size: 2.5rem;
	color: var(--white);
}

.holder {
	font-family: myFirstFont;
	margin-top: 60px;
	height: 80%;
	display: flex;
	justify-content: right;
	flex-direction: column;
	align-items: center;
	text-align: right;
	color: var(--white);
}
button {
	cursor: pointer;
	font-family: myFirstFont;
	background: var(--orange);
	text-decoration: none;
}
.back-bg {
	margin-top: 60px;
	background: #81533993;
	width: 40ch;
	border-radius: 10%;
	margin-bottom: 20px;
}
.back-bg input {
	align-self: center;
}
.fsize {
	display: flex;
	align-items: center;
	justify-content: center;
}
input[type="file"] {
	display: none;
}

.custom-file-upload {
	font-family: myFirstFont;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}
.iftach-container {
	font-family: myFirstFont;
	color: var(--white);
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 80vh;
}
.btnLog {
	margin-top: 10px;
	background: var(--orange-dark);
	color: var(--blue);
	font-family: myFirstFont;
	width: 12ch;
	font-size: 4ch;
	border-radius: 5%;
	border-style: none;
	border: 0.5px solid black;
}
.btnLog:hover {
	cursor: pointer;
	background: var(--orange);
}

.iftach-btn {
	color: var(--white);
	background: var(--orange);
}
.iftach-btn:hover {
	background: var(--orange-dark);
}
.float-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.status {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 15px;
}
.upload {
	transform: translateX(-30px);
}
.hidden {
	display: none;
}
.matches {
	display: flex;

	justify-content: space-around;
	align-items: center;
}
@media only screen and (max-width: 600px) {
	.matches {
		flex-direction: column;
	}
	.ui.card {
		border: 3px solid black;
	}
}
.ui.card {
	text-align: right;
	color: var(--blue);
	font-weight: bold;
	font-size: 2ch;
	background: #f7963cce;
}
.buttons {
	margin-bottom: 15px;
}
.ui.large.transparent.left.icon input {
	text-align: right;
}
.right.floated.meta img {
	margin-left: 5px;
}
.sticky {
	background: #395181b6;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
h2 {
	font-family: myFirstFont;
	color: var(--white);
}

.match-win {
	background: #39518177;
	border-radius: 1.5%;
}
