:root {
	--blue: #395181;
	--white: #ffffff;
	--orange: #fcb040;
	--orange-dark: #f7953c;
	--yellow: #fff101;
}
@font-face {
	font-family: myFirstFont;
	src: url(../fonts/Assistant-SemiBold.ttf);
}

body {
	font-family: myFirstFont;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url("../statics/shutterstock_463528040-scaled.jpg");
	background-repeat: no-repeat cover;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
li {
	display: flex;
	justify-content: center;
	align-items: center;

	list-style-type: none;
}
a {
	color: var(--white);
}

input,
h1 {
	font-family: myFirstFont;
	padding: 0;
}

.ui.center.aligned.container {
	padding-top: 60px;
}
.header {
	color: var(--white);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-weight: bold;
}
a:hover {
	color: var(--orange-dark);
}
.home-container {
	background: #39518167;
	font-family: myFirstFont;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.home-container a {
	padding: 10px;
	border-radius: 20%;
	background: var(--orange);
	text-decoration: none;
}
.home-container h1 {
	font-family: myFirstFont;
}
.home-container a:hover {
	color: var(--white);
	background-color: var(--orange-dark);
}
.home-container h1 {
	font-size: 2.5rem;
	color: var(--white);
}

.holder {
	font-family: myFirstFont;
	margin-top: 60px;
	height: 80%;
	display: flex;
	justify-content: right;
	flex-direction: column;
	align-items: center;
	text-align: right;
	color: var(--white);
}
button {
	cursor: pointer;
	font-family: myFirstFont;
	background: var(--orange);
	text-decoration: none;
}
.back-bg {
	margin-top: 60px;
	background: #81533993;
	width: 40ch;
	border-radius: 10%;
	margin-bottom: 20px;
}
.back-bg input {
	align-self: center;
}
.fsize {
	display: flex;
	align-items: center;
	justify-content: center;
}
input[type="file"] {
	display: none;
}

.custom-file-upload {
	font-family: myFirstFont;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	margin-top: 5px;
}
.iftach-container {
	font-family: myFirstFont;
	color: var(--white);
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 80vh;
}
.msg-count2 {
	background: red;
	padding: 5px;
	border-radius: 50%;
	font-size: 0.5rem;
}
.btnLog {
	margin-top: 10px;
	background: var(--orange-dark);
	color: var(--blue);
	font-family: myFirstFont;
	width: 163px;
	font-size: 4ch;
	border-radius: 5%;
	border-style: none;
	border: 0.5px solid black;
}
.btnLog:hover {
	cursor: pointer;
	background: var(--orange);
}

.iftach-btn {
	color: var(--white);
	background: var(--orange);
}
.iftach-btn:hover {
	background: var(--orange-dark);
}
.float-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.status {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 15px;
}
.upload {
	transform: translateX(-30px);
}
.hidden {
	display: none;
}
.matches {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
@media only screen and (max-width: 600px) {
	.matches {
		flex-direction: column;
	}
	.ui.card {
		border: 3px solid black;
	}
}
.ui.card {
	text-align: right;
	color: var(--blue);
	font-weight: bold;
	font-size: 2ch;
	background: #395181;
	color: var(--white);
}
.ui.card > .content > .description {
	color: var(--white);
}
.ui.card > .content > a.header,
.ui.cards > .card > .content > a.header,
.ui.card .meta,
.ui.cards > .card .meta,
.ui.card > .extra a:not(.ui),
.ui.cards > .card > .extra a:not(.ui),
.ui.input,
.ui.card > .extra,
.ui.cards > .card > .extra,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
	color: var(--white);
}
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
	font-family: myFirstFont;
	font-size: 20px;
}
.gender {
	font-size: 1.3rem;
	color: var(--white);
}
.resize-logo {
	width: 150px;
}
.fas.fa-envelope-open-text,
.msg-count {
	margin-left: 10px;
	/* color: red; */
	font-size: 1.5rem;
}
.red-border {
	border: 1px solid #ffffff;
	transition: all ease-in-out 0.4s;
}
.red-border:hover {
	border: 1px solid #f7953c;
}
.buttons {
	margin-bottom: 15px;
}
.ui.large.transparent.left.icon input {
	text-align: right;
}
.space-btn {
	margin-top: 5px;
	font-weight: bold;
	font-size: 1.2rem;
}
.right.floated.meta img {
	margin-left: 5px;
}
.gender-block {
	display: inline;
	margin-bottom: 5px;
}
.wide {
	width: 200px;
}
.sticky {
	background: #395181ee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
h2 {
	font-family: myFirstFont;
	color: var(--white);
}

.match-win {
	background: #39518177;
	border-radius: 0.3%;
}
