:root {
	--blue: #395181;
	--white: #ffffff;
	--orange: #fcb040;
	--orange-dark: #f7953c;
	--yellow: #fff101;
}
@font-face {
	font-family: myFirstFont;
	src: url(../fonts/Bellefair-Regular.ttf);
}
li {
	list-style-type: none;
}

a {
	color: var(--white);
}
body {
	font-family: myFirstFont;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: url("../statics/shutterstock_463528040-scaled.jpg") no-repeat
		center/cover;
}
.header {
	color: var(--white);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-weight: bold;
}
.home-container {
	background: #39518167;
	font-family: myFirstFont;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.home-container a {
	padding: 10px;
	border-radius: 20%;
	background: var(--orange);
	text-decoration: none;
}
.home-container h1 {
	font-family: myFirstFont;
}
.home-container a:hover {
	color: var(--white);
	background-color: var(--orange-dark);
}
.home-container h1 {
	font-size: 2.5rem;
	color: var(--white);
}

.holder {
	/* background: black; */
	font-family: myFirstFont;
	height: 80%;
	display: flex;
	justify-content: right;
	flex-direction: column;
	align-items: center;
	text-align: right;
	color: var(--white);
}
.back-bg {
	background: #39518193;
	width: 40ch;
	border-radius: 10%;
}
.fsize {
	display: flex;
	align-items: center;
	justify-content: center;
}
input[type="file"] {
	/* font-size: 10rem; */
	display: none;
}

.custom-file-upload {
	font-family: myFirstFont;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}
.iftach-container {
	font-family: myFirstFont;
	color: var(--white);
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 80vh;
}
.btnLog {
	margin-top: 10px;
	background: var(--blue);
	color: var(--orange);
	font-family: myFirstFont;
	width: 10ch;
	font-size: 4ch;
	border-radius: 10%;
	border-style: none;
}
.btnLog:hover {
	cursor: pointer;
	color: var(--orange-dark);
}

.iftach-btn {
	color: var(--white);
	background: var(--orange);
}
.iftach-btn:hover {
	background: var(--orange-dark);
}
.float-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.status {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 15px;
}
.upload {
	transform: translateX(-30px);
}
.hidden {
	display: none;
}
